<div class="">
    <app-navegacao [rota]="_rotaAnterior" [titulo]="" [ativarMenu]="true"></app-navegacao>
    <div class="container-fly">
      <div class="row justify-content-center">
        <a [routerLink]="['/home', 'assistencia']" class="form-group shadow1 p-3 bg-white rounded col-8 mt-2">
          <img src="./../../../assets/icons/like.svg" class="icones-md mr-2">
          <small class="caixa-txt">Assistencia em Saúde</small>
        </a>
        <a [routerLink]="['/home', 'prevencao']" class="form-group shadow1 p-3 bg-white rounded col-8 mt-2">
          <img src="./../../../assets/icons/like.svg" class="icones-md mr-2">
          <small class="caixa-txt">Prevenção e Treinamento</small>
        </a>
        <a [routerLink]="['/home', 'prevencao']" class="form-group shadow1 p-3 bg-white rounded col-8 mt-2">
          <img src="./../../../assets/icons/like.svg" class="icones-md mr-2">
          <small class="caixa-txt">Beleza e Estética</small>
        </a>
        <a [routerLink]="['/home', 'prevencao']" class="form-group shadow1 p-3 bg-white rounded col-8 mt-2">
          <img src="./../../../assets/icons/like.svg" class="icones-md mr-2">
          <small class="text-danger">Pets</small>
        </a>
      </div>
    </div>
</div>