<div class="">
    <app-navegacao></app-navegacao>
    <div class="container-fly">
      <div class="row justify-content-center">
        <a [routerLink]="['/home', 'assistencia']" class="form-group shadow-lg p-3 bg-white rounded col-8 mt-2">
          <img src="./../../../assets/icons/like.svg" class="icones-md mr-2">
          <small class="caixa-txt">ASSISTENCIA EM SAÚDE</small>
        </a>
        <a [routerLink]="['/home', 'prevencao']" class="form-group shadow-lg p-3 bg-white rounded col-8 mt-2">
          <img src="./../../../assets/icons/like.svg" class="icones-md mr-2">
          <small class="caixa-txt">PREVENÇÃO E TREINAMENTO</small>
        </a>
      </div>
    </div>
</div>