<div>
  <app-navegacao [rota]="_rotaAnterior" [titulo]=""></app-navegacao>
  <div class="container-fly">
    <div class="row justify-content-center">
      <a routerLink="paciente" class="form-group shadow-lg p-3 bg-white rounded col-8 mt-2">
        <img src="./../../../assets/icons/user.svg" class="icones-md mr-3">
        <small class="caixa-txt">PACIENTE</small>
      </a>
      <a routerLink="profissional" class="form-group shadow-lg p-3 bg-white rounded col-8 mt-2">
        <img src="./../../../assets/icons/nurse.svg" class="icones-md mr-3">
        <small class="caixa-txt">PROFISSIONAL</small>
      </a>
    </div>
  </div>
</div>