<div class="container">
  <div class=" row mt-3 justify-content-center col-12 mb-3">
    <div class="col-3 mt-5" *ngFor="let model of _especialidade">
      <button type="button" class="col-12 shadow-lg p-3 rounded border">
        <a>
          <div class="imgCriacao">
            <img src="./../../../assets/icons/add.svg" class="icones-md">
          </div>
          <small>{{model}}</small>
        </a>
      </button>
    </div>
  </div>

  <!-- <app-profissoes [especialidade]="_especialidade"></app-profissoes> -->
</div>