<div>
  <app-navegacao [rota]="_rotaAnterior" [titulo]="_nome" [ativarMenu]="false"></app-navegacao>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="enviarResposta()" class="container">
    <div class="form-group mt-3" *ngFor="let comp of _listaFormulario">
      <div [ngSwitch]="comp.tipo">
        <div *ngSwitchCase="'radio'">
          <label for="" class="caixa-txt">{{comp.nome}}:</label>
          <div *ngFor="let comp1 of comp.valor">
            <div class="ml-2">
              <input id="{{comp1}}" type="{{comp.tipo}}" name="{{comp.nome}}">
              <label for="{{comp1}}" class="ml-1">{{comp1}}</label>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'checkbox'">
          <label class="caixa-txt mt-2">Selecione um dos {{comp.nome}}:</label>
          <div class="form-control" *ngFor="let comp1 of comp.valor">
            <input type="checkbox" id="scales" name="feature"
                   value="scales" checked />
            <label for="scales">Scales</label>
          </div>
        </div>
        <div *ngSwitchCase="'array'">
          <label class="caixa-txt mt-2">Selecione um dos {{comp.nome}}:</label>
          <select #slt class="form-control" autofocus>
            <option></option>
            <option *ngFor="let comp1 of _profissionais">
              {{comp1.nome}}
            </option>
          </select>
        </div>
        <div *ngSwitchDefault>
          <label for="formGroupExampleInput" class="caixa-txt">{{comp.nome}}:</label>
          <input type="{{comp.tipo}}" max="{{comp.max}}" formControlName="{{comp.nome}}" placeholder="{{comp.nome}}" class="form-control">
        </div>
      </div>
    </div>
    <div class="text-center mt-5 mb-3">
      <button type="submit" class="btn btn-primary mr-2" [disabled]="formLimpo()">Enviar</button>
      <button type="reset" class="btn btn-primary">Limpar</button>
    </div>
  </form>
</div>