<form *ngIf="form" [formGroup]="form" (ngSubmit)="enviarResposta()">
    <app-navegacao [rota]="" [titulo]="" [ativarMenu]="false"></app-navegacao>
    <!-- <h1 class="text-center bg-dark text-white">UberCare</h1> -->
    <div class="container-fly">
        <div class="container col-8">
            <img [routerLink]="['/admin']" class="col-12 img-circulo mx-auto d-block icones-lg" src="../../../assets/icons/user.svg" />
            <label for="formGroupExampleInput" class="caixa-txt">Usuario:</label>
            <input formControlName="usuario" type="text" class="form-control border border-secondary"
             id="formGroupExampleInput" placeholder="Digite seu login"
                required autocomplete="off" autofocus>
            <label for="form1" class="caixa-txt mt-2">Senha:</label>
            <input formControlName="senha" type="password" class="form-control border border-secondary" id="form1" placeholder="******"
                required autocomplete="off" autofocus minlength="8">
        </div>
        <div class="text-center mt-4 mb-2">
            <button type="submit" class="btn btn-dark mt-2 mr-2">Entrar</button>
            <button type="button" [routerLink]="['/cadastro']" class="btn btn-dark mt-2">
                Cadastrar-se
            </button>
        </div>
    </div>
</form>