<div>
    <app-navegacao [rota]="_rotaAnterior" [titulo]="_rota" [ativarMenu]="true"></app-navegacao>
    <div class="container">
        <label class="caixa-txt mt-2">{{nome}}:</label>
        <select #slt class="form-control" autofocus (click)="selecionar(slt.value)">
            <option></option>
            <option *ngFor="let comp of lista; let i = index" [value]="i">
                {{comp}}
            </option>
        </select>
        <div class="d-flex justify-content-around mt-3">
            <div>
                <input class="mr-2" type="radio" id="domicilio" name="radioBt" value="domicilio">
                <label for="domicilio">Atendimento Domiciliar</label>
            </div>
            <div>
                <input class="mr-2" type="radio" id="clinica" name="radioBt" value="clinica" />
                <label for="clinica">Atendimento em Clínica</label>
            </div>
        </div>
        <app-profissoes [especialidade]="_especialidade"></app-profissoes>
    </div>
</div>