<div>
    <app-navegacao [rota]="_rotaAnterior" [titulo]="_rota"></app-navegacao>
    <div class="container">
        <label class="caixa-txt mt-2">{{nome}}:</label>
        <select #slt class="form-control" autofocus (click)="selecionar(slt.value)">
            <option></option>
            <option *ngFor="let comp of lista; let i = index" [value]="i">
                {{comp}}
            </option>
        </select>
        <app-profissoes [especialidade]="_especialidade"></app-profissoes>
    </div>
</div>



