<div class="navbar navbar-dark bg-azul ">
  <div *ngIf="_ativarMenu" ngbDropdown class="d-inline-block">
    <a class="navbar-toggler" id="dropdownBasic1" ngbDropdownToggle>
      <span class="navbar-toggler-icon"></span>
    </a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button routerLink="/perfil" class="dropdown-item">Perfil</button>
      <button class="dropdown-item">Configurações</button>
      <button class="dropdown-item">Minhas Consultas</button>
      <button routerLink="/login" class="dropdown-item">Sair</button>
    </div>
  </div>
    <!-- <img src="./../../../assets/icons/pharmacy.svg" class="icones-md col-1"> -->
  <div [ngStyle]="_estilo" class="text-center">
    <h1 class="text-white">{{_titulo}}</h1>
    <h5 class="text-white">{{_subtitulo}}</h5>
  </div>
  <div *ngIf="_rota" class="float-right">
    <a (click)="fecharPagina()" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
</div>